<!DOCTYPE html>
<html lang="ko">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThisIsNotBulescreen</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style> 
        /*둥근모꼴*/
        @font-face {
            font-family: 'DungGeunMo';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            font-family: 'DungGeunMo';
            color: whitesmoke;
        }
    </style>
    {% endblock %}
</head>
<body>
    <div style="background-color:darkblue">
        <br>
        <hr style="border: 0; height: 3px; color: whitesmoke;">
        <div id="big" style="height: 50px; font-size: 30px; text-align: center;">
            {% block big %}큰 글씨{% endblock %}
        </div>
        <hr style="border: 0; height: 3px; color: whitesmoke;">
        <div>
            <br>
            <br>
            <div id="small" style="font-size: 15px; text-align: center;">
                {% block small %}작은 글씨{% endblock %}
            </div>
            <br>
            <br>
        </div>
        <hr style="border: 0; height: 3px; color: whitesmoke;">
        <br>
    </div>
</body>
</html>